wsdl/highscoreservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://cs.umu.se/edu/jap/HighScoreService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="HighScoreService"
    targetNamespace="http://cs.umu.se/edu/jap/HighScoreService">

  <!-- types -->
  <wsdl:types>
    <xsd:schema
        targetNamespace="http://cs.umu.se/edu/jap/HighScoreService">

      <xsd:complexType name="EntryType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="date" type="xsd:string"/>
          <xsd:element name="score" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="StoreRequestType">
        <xsd:sequence>
          <xsd:element name="score" type="EntryType"
                       minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="StoreResponseType"/>
      <xsd:simpleType name="RetrieveRequestType"/>
      
      <xsd:complexType name="RetrieveResponseType">
        <xsd:sequence>
          <xsd:element name="score" type="EntryType"
                       minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:simpleType name="FailureFaultType">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>

      <xsd:element name="StoreRequest" type="tns:StoreRequestType"/>
      <xsd:element name="StoreResponse" type="tns:StoreResponseType"/>
      <xsd:element name="RetrieveRequest" type="tns:RetrieveRequestType"/>
      <xsd:element name="RetrieveResponse" type="tns:RetrieveResponseType"/>
      <xsd:element name="FailureFault" type="tns:FailureFaultType"/>
    </xsd:schema>
  </wsdl:types>

  <!-- messages -->
  <wsdl:message name="StoreRequestMessage">
    <wsdl:part element="tns:StoreRequest" name="StoreRequest"/>
  </wsdl:message>
  <wsdl:message name="StoreResponseMessage">
    <wsdl:part element="tns:StoreResponse" name="StoreResponse"/>
  </wsdl:message>
  <wsdl:message name="RetrieveRequestMessage">
    <wsdl:part element="tns:RetrieveRequest" name="RetrieveRequest"/>
  </wsdl:message>
  <wsdl:message name="RetrieveResponseMessage">
    <wsdl:part element="tns:RetrieveResponse" name="RetrieveResponse"/>
  </wsdl:message>
  <wsdl:message name="FailureFaultException">
    <wsdl:part element="tns:FailureFault" name="FailureFault"/>
  </wsdl:message>

  <!-- interfaces -->
  <wsdl:portType name="HighScoreService">
    <wsdl:operation name="store">
      <wsdl:input message="tns:StoreRequestMessage"/>
      <wsdl:output message="tns:StoreResponseMessage"/>
      <wsdl:fault message="tns:FailureFaultException" name="FailureFault"/>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <wsdl:input message="tns:RetrieveRequestMessage"/>
      <wsdl:output message="tns:RetrieveResponseMessage"/>
      <wsdl:fault message="tns:FailureFaultException" name="FailureFault"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- bindings -->
  <wsdl:binding name="HighScoreServiceSOAP" type="tns:HighScoreService">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="store">
      <soap:operation
          soapAction="http://cs.umu.se/edu/jap/HighScoreService/store"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FailureFault">
        <soap:fault name="FailureFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <soap:operation
          soapAction="http://cs.umu.se/edu/jap/HighScoreService/retrieve"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FailureFault">
        <soap:fault name="FailureFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <!-- services -->
  <wsdl:service name="HighScoreService">
    <wsdl:port binding="tns:HighScoreServiceSOAP" name="HighScoreServiceSOAP">
      <soap:address
          location="http://localhost:8080/axis2/services/HighScoreService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
